<% extend 'layout.html' %>

<% block 'head' : %>
<link rel="stylesheet" href="/bower_components/json-tree/json-tree.css">
<% end %>



<% block 'body' : %>


<div class="container" ng-app="listApp" >

  <div ng-controller="">

    <div class="col-md-8">
      <table class="table" >
        <thead>
          <tr>
            <th>name</th>
            <th>availability</th>
            <th>subjects</th>
          </tr>
        </thead>
        
      </table>
    </div>
  </div>

</div><!-- /.container -->

<script src="/bower_components/json-tree/json-tree.js"></script>

<% end %>
